<!DOCTYPE html>

<head>
    <title> Scihub Download </title>
    <link rel="stylesheet" type="text/css" href="/public/main_min.css" />
</head>

<body>
    <div class="content">
        <img class="gopher-running" src="/public/images/gopherRunning_min.png" />

        <div class="login-card">
            <h1 class="centered"> Download Articles</h1>
            <div class="margin-top-40"></div>

            <!-- blank on form is used for opening pdf in new tab -->
            <form class="login-verticalstack" action="/" method="POST" autocomplete="off">
                <label for="doi">Doi:</label>
                </br>
                <input id="doi" name="doi" value="{{.Doi}}" autocomplete="off" />
                <label name="label-doi" class="Info">{{.LabelDoi}}</label>

                <button class="login-button"> Download </button>
            </form>
        </div>
    </div>

    <img class="gopher" src="/public/images/gopher_min.png" />

    <script src="/public/clearLabels.js"></script>
</body>

</html>